@use './variables.scss' as variables;


#world {
    color: variables.$color-primary;
    cursor: pointer;
}

#friend {
    color: variables.$color-secondary;
}


main {
    img {
        height: variables.$size;
        width: variables.$size;
    }
}